build/
build151/
error_dump/
*.dll
*.pdb
*.ilk
*.obj
*.bin
*.exe
*.tlog
*.recipe
*.lastbuildstate
*.vcxproj
*.vcxproj.filters
*.sln
*.stamp
*.stamp.depend
*.stamp.list
*.cmake
!cmake/
!cmake/*.cmake
error/
*.pur
*.dmp
